body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
table{
    table-layout: fixed;
    border-collapse: collapse;
}
table td{
    padding: 4px 8px;
    vertical-align: text-top;
    word-wrap:break-word;
}
table thead td{
    font-weight: bold;
}
.iso-container{
    padding: 10px;
    box-sizing: border-box;
}
.iso-message-container{
    padding-bottom: 10px;
}
.iso-data-container{
    display: none;
}
textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    resize: vertical;
}
input[type="button"], input[type="submit"], input[type="reset"], button{
    padding: 4px 14px;
}